@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --rounded-corners: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 30px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  max-height: 100vh;
  gap: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0px 30px;
  grid-row: 1 / 2;
}

header img {
  width: 40px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

form {
  display: flex;
  align-items: center;
  gap: 5px;
}

form input {
  padding: 5px;
  border-radius: var(--rounded-corners);
}

form button {
  border-radius: var(--rounded-corners);
  padding: 5px 10px;
}

main {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
}

.mainweather {
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

@media (max-width: 716px) {
  header {
    flex-direction: column;
  }

  form {
    flex-direction: column;
  }
}
